[Desktop Entry]
Icon=text-html
Name=Figma
Type=Link
URL[$e]=https://www.figma.com/design/FPyZwJ8r75O3zAWSUYvnys/Cuidado-com-PET--Community-?node-id=0-1&m=dev&t=8ihwpCmBJZSsUARC-1
